
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <form class="text-center">
        <img src="plugins/images/admin-text-dark.png" />
        <div class="LoginLabel">Login </div>
        <div class="SecInput">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>
            <input class="form-control" type="text" placeholder="UserName" />
        </div>
        <div class="SecInput">
            <i class="fa fa-lock"></i>
            <input class="form-control" type="password" placeholder="Password" />
        </div>

        <a href="dashboard.html" class="LoginBtn">Login</a>
    </form>

