
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

    <form class="text-center">
        <img src="~/SiteStyle/plugins/images/Logo.png" />
        <div class="LoginLabel">Login </div>
        <div class="SecInput">
            <i class="far fa-user"></i>
            <input class="form-control" type="text" placeholder="UserName" />
        </div>
        <div class="SecInput">
            <i class="fas fa-lock"></i>
            <input class="form-control" type="password" placeholder="Password" />
        </div>


        <a  asp-controller="Home" asp-action="Index" class="LoginBtn">Login</a>
    </form>

