
@{
    ViewData["Title"] = "SearchPage";
}

<div class="row bg-title m-0-l-r">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Patients</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Patients</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box NormalSearch">
            <form>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="row m-0-l-r">
                            <label class="col-md-2">id</label>
                            <div class="col-md-10">
                                <input class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group m-0-l-r">
                    <div class="col-md-2 col-md-offset-8">
                        <a class="SearchForm pull-right Edit" onclick="AdvancedSearch(this)">Advanced Search</a>
                    </div>
                    <div class="col-md-2">
                        <button class="SearchForm pull-right">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="white-box AdvancedSearch">
            <form>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="row m-0-l-r">
                            <label class="col-md-4">from</label>
                            <div class="col-md-7">
                                <input class="form-control" type="date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="row m-0-l-r">
                            <label class="col-md-offset-1 col-md-4">to</label>
                            <div class="col-md-7">
                                <input class="form-control" type="date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="row m-0-l-r">
                            <label class="col-md-4">id</label>
                            <div class="col-md-7">
                                <input class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="row m-0-l-r">
                            <label class="col-md-offset-1 col-md-4">name</label>
                            <div class="col-md-7">
                                <input class="form-control" value="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="row m-0-l-r">
                            <label class="col-md-4">Still</label>
                            <div class="col-md-7">
                                <select class="select2 form-control">
                                    <option>Still</option>
                                    <option>no</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <div class="row m-0-l-r">
                            <label class="col-md-offset-1 col-md-4">
                                The type of disease
                            </label>
                            <div class="col-md-7">
                                <select class="select2 form-control">
                                    <option>Heart patient</option>
                                    <option>diabetic</option>
                                    <option>Pressure patient</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group m-0-l-r">
                    <div class="col-md-2 col-md-offset-8">
                        <a class="SearchForm pull-right Edit" onclick="NormalSearch(this)">Normal Search</a>
                    </div>
                    <div class="col-md-2">
                        <button class="SearchForm pull-right">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="white-box">
            <div class="row form-group">
                <table class="table DataTB">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Img</th>
                            <th>name</th>
                            <th>The type of disease</th>
                            <th>
                                Follow up
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="~/SiteStyle/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"></td>

                            <td>
                             ahmed
                            </td>
                            <td>diabetic</td>
                            <td>
                                <div class="CheckBox"><input type="checkbox" checked=""></div>
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#EditModal" class="Edit">Edit</a>
                                <a data-toggle="modal" data-target="#DeleteModal" class="Delete">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img src="~/SiteStyle/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"></td>

                            <td>
                              mahmoud
                            </td>
                            <td>diabetic</td>
                            <td>
                                <div class="CheckBox"><input type="checkbox" checked=""></div>
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#EditModal" class="Edit">Edit</a>
                                <a data-toggle="modal" data-target="#DeleteModal" class="Delete">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img src="~/SiteStyle/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"></td>

                            <td>
                               sayed
                            </td>
                            <td>Pressure patient</td>
                            <td>
                                <div class="CheckBox"><input type="checkbox"></div>
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#EditModal" class="Edit">Edit</a>
                                <a data-toggle="modal" data-target="#DeleteModal" class="Delete">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><img src="~/SiteStyle/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"></td>

                            <td>
                             figo
                            </td>
                            <td>Pressure patient</td>
                            <td>
                                <div class="CheckBox"><input type="checkbox"></div>
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#EditModal" class="Edit">Edit</a>
                                <a data-toggle="modal" data-target="#DeleteModal" class="Delete">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>



        </div>
    </div>
</div>
